/webService/target
/ordering/target
/dotNet/server.exe
/objects/target
/cooking/.idea
/client/.idea
/catalogueCustomer/.idea
/catalogueCustomer/target
/cartWebService/.idea
/cartWebService/target
/cartWebService/cartWebService.iml
/catalogueCustomer/CatalgueCostomer.iml
/client/tcf-client.iml
/cooking/tcf-backend.iml
/cartCashier/cartCaisher.iml
/cartCashier/target
/cartCashier/.idea
/.idea
/client/target
/cooking/target
/warGeneration/target
/warGeneration/warGeneration.iml
/ordering/ordering.iml
/isa_de_base/j2e/.idea
/isa_de_base/j2e/tcf-backend.iml
/ordering/.idea
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
